<section class="col-10-7" ng-show="!loading">
    <header class="row">
        <div class="col-10-6 article-owner">
            <figure>
                <img ng-src="{{ petition.user.avatar_file_path }}" />
            </figure>
            <div>
                <h4>{{ petition.user.official_title }} {{ petition.user.first_name}} {{ petition.user.last_name }}</h4>
                <p>Created a petition</p>
            </div>
        </div>
        <div class="col-10-3 text-right">
            <i class="icon-clock"></i>
            <time>CREATED {{ petition.published_at_date | date:'M.d.yy' }}</time>
        </div>
    </header>
    <article class="main-article">
        <h1>{{ petition.petition_title }}</h1>

        <a ng-show="petition.educationalContextByTypes.video.length"
            ng-href="{{ petition.educationalContextByTypes.video[0].text }}"
            target="_blank">
            <img width="290" ng-src="{{ petition.educationalContextByTypes.video[0].preview }}"/>
            <br><br>
        </a>

        <p>{{ petition.petition_body }}</p>

        <div ng-include=" 'views/petitions/sign.html' " class="margin-v-20" ng-controller="SignPetitionCtrl"></div>
        <div class="row col-10-5 padding-v-10">
            <p class="col-10-5 text-dark text-sm">
                <i class="icon-petition-gray"></i>
                <strong>{{ petition.options[0].votes_count }} SIGNED</strong>
            </p>
            <p class="col-10-5 text-dark text-sm">
                <i class="icon-comments-gray"></i>
                <strong>{{ comments_count }} COMMENTS</strong>
            </p>
        </div>
    </article>
    <section ng-include=" 'views/petitions/discussions.html' " class="padding-v-20"></section>
</section>

<section class="col-10-3" ng-show="!loading">
    <article class="article-item" ng-show="petition.educationalContextByTypes.text.length">
        <header>
            <h3>Information</h3>
        </header>
        <p ng-repeat="item in petition.educationalContextByTypes.text">{{ item.text }}</p>
    </article>

    <article class="article-item" ng-show="petition.educationalContextByTypes.image.length">
        <header>
            <h3>Photos</h3>
        </header>
        <figure ng-repeat="item in petition.educationalContextByTypes.image">
            <img ng-src="{{ item.imageSrc }}" />
        </figure>
    </article>

    <article class="article-item" ng-show="petition.educationalContextByTypes.video.length">
        <header>
            <h3>Videos</h3>
        </header>
        <figure ng-repeat="item in petition.educationalContextByTypes.video">
            <a ng-href="{{ item.text }}" target="_blank">
                <img ng-src="{{ item.preview }}" />
            </a>
        </figure>
    </article>
</section>

<section class="loading" ng-show="loading"></section>