<section class="col-10-7" ng-show="!loading">
    <header class="row">
        <div class="col-10-6 article-owner">
            <figure>
                <img ng-src="{{ paymentRequest.get('user').get('avatar_file_path') }}" />
            </figure>
            <div>
                <h4>{{ paymentRequest.get('user').get('official_title') }}
                    {{ paymentRequest.get('user').get('first_name')}} {{ paymentRequest.get('user').get('last_name') }}</h4>
                <p>Created a payment request</p>
            </div>
        </div>
        <div class="col-10-3 text-right">
            <i class="icon-clock"></i>
            <time>CREATED {{ paymentRequest.get('published_at') | date:'M.d.yy' }}</time>
        </div>
    </header>
    <article class="main-article">
        <h1>{{ paymentRequest.get('title') }}</h1>

        <a ng-show="paymentRequest.get('educational_context').byTypes.video.length"
            ng-href="{{ paymentRequest.get('educational_context').byTypes.video[0].get('text') }}"
            target="_blank">
            <img width="290" ng-src="{{ paymentRequest.get('educational_context').byTypes.video[0].getPreview() }}"/>
            <br><br>
        </a>

        <p>{{ paymentRequest.get('subject') }}</p>
        
    </article>

    <section class="margin-v-20 answer-options" ng-show="paymentRequest.canAnswer()">
        <fieldset>
            <div class="checkbox-field-long" ng-repeat="option in paymentRequest.get('options')"
                 ng-class="{active: data.option === option}"
                 ng-click="data.option = option">
                <span><i></i></span>
                <p>{{ option.is_user_amount ? '' : option.payment_amount + '$ - ' }}{{ option.value }}</p>
            </div>
        </fieldset>
    </section>

    <section ng-show="!paymentRequest.canAnswer()">
        <div class="answer-content" ng-show="paymentRequest.get('answer_entity')">
            <p ng-if="!paymentRequest.get('is_answered')">No response</p>
            <p ng-if="paymentRequest.get('is_answered')">
                <strong>Thank You! Your Receipt:</strong><br>
                {{ paymentRequest.get('answer_entity').current_payment_amount }}$ - {{ paymentRequest.get('answer_entity').option.value }}
                <br><br>

                <strong ng-if="paymentRequest.get('is_crowdfunding') && paymentRequest.get('answer_entity').current_payment_amount">Status: </strong>
                <span ng-if="paymentRequest.get('is_crowdfunding') && paymentRequest.get('answer_entity').current_payment_amount">
                    <span ng-if="transaction.data.status === 'succeeded'">
                        You were charged ${{ transaction.amount }} on {{ transaction.created_at | date:'medium' }}
                            since this campaign reached its goal. Thanks!
                    </span>
                    <span ng-if="transaction && transaction.data.status !== 'succeeded'">
                        {{ transaction.data.status }}
                    </span>
                    <span ng-if="!transaction && paymentRequest.get('is_crowdfunding_completed')">
                        This campaign did not reach its goal. You were not charged.
                    </span>
                    <span ng-if="!transaction && !paymentRequest.get('is_crowdfunding_completed')">
                        You will be charged ${{ paymentRequest.get('answer_entity').current_payment_amount }}
                             on {{ paymentRequest.get('crowdfunding_deadline') | date:'medium' }} only if this campaign reaches its goal. Check back soon!
                    </span>
                </span>
            </p>
            <p ng-if="transaction">
                <strong>Transaction Number:</strong> {{ transaction.public_id }}<br>
                <strong>Order Number:</strong> {{ transaction.data.order }}<br>
                <strong>Transaction Date:</strong> {{ transaction.created_at | date:'medium' }}
            </p>
        </div>
    </section>

    <div class="margin-v-20" ng-show="paymentRequest.canAnswer()">
        <button class="btn btn-primary btn-210" ng-click="pay()" ng-disabled="!data.option">Next</button>
    </div>
    
</section>


<div class="fixed-overlay" ng-show="view.showAnswerForm" ng-click="view.showAnswerForm = false" class="ng-hide">
    <div class="popup padding-30" ng-click="$event.stopPropagation()">
        <form class="form-md" ng-submit="answer()">
            <fieldset ng-show="!submitting">
                <p class="btn-close" ng-click="data.showAnswerForm = false;data.option = null;"></p>
                <h3 class="section-title margin-v-10">
                    You chose “{{ data.option.value }}{{ data.option.is_user_amount ? '' : ' for $' + data.option.payment_amount }}”
                </h3>
                <div class="text-field" ng-if="data.option.is_user_amount">
                    <input type="number" ng-model="data.payment_amount" required name="payment_amount" placeholder="Payment Amount" />
                </div>
                <div class="text-field" style="height: 80px;">
                    <textarea ng-model="data.comment" placeholder="You can add your comment here" maxlength="500"></textarea>
                </div>
                <br>
                <p class="margin-v-10" ng-show="data.option.payment_amount || data.option.is_user_amount"
                   ng-if="paymentRequest.get('is_crowdfunding')">
                    You will only be charged if this campaign reaches its goal.
                </p>
                <div class="margin-v-10 switch-btn-group">
                    <div class="switch switch-green">
                        <i class="face" ng-click="data.privacy = 0" ng-class="{active: data.privacy === 0}"></i>
                        <i class="face-anon" ng-click="data.privacy = 1" ng-class="{active: data.privacy === 1}"></i>
                    </div>
                    <button class="btn btn-primary" ng-if="!paymentRequest.get('is_crowdfunding')">
                        {{ data.option.payment_amount || data.option.is_user_amount ? 'Pay' : 'Submit' }}
                    </button>
                    <button class="btn btn-primary" ng-if="paymentRequest.get('is_crowdfunding')">
                        {{ data.option.payment_amount || data.option.is_user_amount ? 'Pledge' : 'Submit' }}
                    </button>
                </div>
            </fieldset>
            <div class="loading loading-md" ng-show="submitting"></div>
        </form>
    </div>
</div>

<cards ng-if="view.showCardsInfo" cancel="view.showCardsInfo = false" completed="view.showCardsInfo = false;view.showAnswerForm = true"></cards>

<section class="col-10-3" ng-show="!loading">
    <article class="article-item" ng-show="paymentRequest.get('educational_context').byTypes.text.length">
        <header>
            <h3>Information</h3>
        </header>
        <p ng-repeat="item in paymentRequest.get('educational_context').byTypes.text">{{ item.get('text') }}</p>
    </article>

    <article class="article-item" ng-show="paymentRequest.get('educational_context').byTypes.image.length">
        <header>
            <h3>Photos</h3>
        </header>
        <figure ng-repeat="item in paymentRequest.get('educational_context').byTypes.image">
            <img ng-src="{{ item.get('imageSrc') }}" />
        </figure>
    </article>

    <article class="article-item" ng-show="paymentRequest.get('educational_context').byTypes.video.length">
        <header>
            <h3>Videos</h3>
        </header>
        <figure ng-repeat="item in paymentRequest.get('educational_context').byTypes.video">
            <a ng-href="{{ item.get('text') }}" target="_blank">
                <img ng-src="{{ item.getPreview() }}" />
            </a>
        </figure>
    </article>
</section>

<div class="fixed-overlay" ng-show="isShowLogin" ng-click="isShowLogin = false" class="ng-hide">
    <div class="popup padding-30" ng-click="$event.stopPropagation()" ng-show="isShowLogin">
        <login-form on-success="reloadAndPay()"></login-form>
    </div>
    <div class="loading loading-fixed" ng-show="loading"></div>
</div>

<section class="loading" ng-show="loading"></section>