<header ng-include=" 'views/header.html' "></header>

<!--<nav class="breadcrumbs">
    <ul class="content-wrap">
        <li><a href="#/">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/about/our-story">Our Story</a></li>
    </ul>
</nav> -->

<section class="">
	

	
	<div class="contain main-content clear">

		<h1>Community Guidelines</h1>
		
		<section class="contain">

			<h3>Do’s</h3>
			

			
			<ul>
					<li><p><span>Do Register with your Real Name</span> – We have our reasons (one of them is that your leaders need to know you’re a real constituent), but it’s also to make sure people are accountable for what they say. There’s a time and place for anonymity and we try to provide it appropriately. Registering with a false or incomplete name is a violation of our Terms of Service.</p></li>
					
					<li><p><span>Do Keep it clean</span> – Pretend you’re in a physical town hall meeting, your mother is on-stage, or your children are going to read your post. Then write your post. Leave the cursing, defamatory, and offensive language for other Internet sites.</p></li>
					
					<li><p><span>Do Participate</span> – You don’t have to post if you don’t want to, but upvoting a comment, agreeing with someone’s micropetition, or responding to a poll can make a difference. If you have something valuable to say, say it!</p></li>
					
					
					
					<li><p><span>Do Be Respectful</span> – Your post may be on the front page of a newspaper with your name on it. At the very least, your leaders will read it</span> – and probably pay more attention if it’s written respectfully (and probably more so if you use correct grammar)</p></li>
					
					<li><p><span>Do Be Factual</span> – If you’re going to reference information, make sure you have a reputable source. Don’t be surprised if someone politely corrects you.</p></li>
					
					<li><p><span>Do Use Communities Appropriately</span> – If it’s local, post it in your town’s community. It’ll have a better chance there to get boosted than it will if you post it in the USA community. Same with state and national issues</span> – use the right community if you’re going to post a petition or micropetition.</p></li>
					
					<li><p><span>Do Use Micropetitions Appropriately in Communities</span> – Savvy users will note the ability to start discussions in a community by using the micropetition feature. We encourage you to use micropetitions in the town, state, and country communities as actual petitions, expressions of sentiment, or to start a community discussion. It should not be used to discuss normal daily events (e.g. “I just ate a hamburger and here’s a photo of it!”) or other typical micro-blogging commentary</p></li>
					
					<li><p><span>Do Avoid Duplicating Posts</span> – Use the search feature proactively to find existing petitions or micropetitions before creating your own. Read other’s comments before you post a new one.</p></li>
					
					<li><p><span>DAgain, Do be Respectful</span> – Democracy means we’re not all going to agree (probably ever). And that’s okay. Remember other users are your neighbors, fellow citizens, and pretty good people if they took the time to join Powerline, so give them a little respect and you’ll get some in return.</p></li>
					
					<li><p><span>Do Encourage your friends, co-workers, family to join and support your causes as well as follow you. Also, don’t forget that it’s okay to ask for friendly votes, but you don’t hold it against them if they disagree with you! Everyone has the right to their own opinions.</p></li>
					
					<li><p><span>Do Encourage your leaders to join</span> – Powerline summarizes citizen feedback for the media and the general public, but it works extra well if the elected leaders are on-board, too. So encourage them or any group leaders in your life to join</span> – it’s free!</p></li>
					
					<li><p><span>Do Lead your own Group</span> – It’s free and you can send your own polls, petitions, discussions, alerts, fundraising requests, events, and more to your members. Plus, there’s no limit on micropetitions in groups and we don’t enforce the above guidelines in the private groups (but we still recommend them!). We do not require groups to be official, so if your leaders aren’t starting one up in your organization, feel free to start one on your own (We may ask you to label your group as unofficial if requested by the official organization).</p></li>
					
					<li><p><span>Do The Right Thing</span> – Our miDle school principal used to say this. Always, always do the right thing. You’ll be happy you did.</p></li>
					<li><p><span>Do Remember, You’re part of a Movement</span> – For digital democracy, leadership accountability, stronger civil society and more effective government. You’ve taken responsibility to join this movement. So take pride in the fact that you’re joined by others who care just like you. We may all have different opinions, but we all care enough to be on Powerline</span> – and that counts for something!</p></li>
		
		</ul>
				
			<h3>And Don’ts</h3>
				<ul>
					<li><p><span>Don’t Abuse the system</span> – Powerline is designed to help all of us contribute to making the world a better place in our communities and making sure leaders can hear us in meaningful ways.</p> </li>
					<li><p><span>Don’t Advertise or Spam</span> – It’s strictly forbiDen per our Terms of Service. Please report the issue to the administrators.</li>
					<li><p><span>Don’t Create Duplicate User Accounts</span> – Seriously. Not cool.</p></li>
					<li><p><span>Don’t Attack People</span> - Leaders, fellow users, or anyone else. This includes name-calling. By all means, attack policies, positions, actions, or inactions</span> – just don’t attack people (on Powerline, but in person, too).</p></li>
					<li><p><span>Don’t Use Vulgar, Hateful, or Generally Offensive Language</span> – If you really want to destroy someone’s argument, stick to the facts. Constructive criticism is welcome, but avoid being rude or insulting.</p></li>
					<li><p><span>Don’t Troll</span> – There’s a fine line between expressing your opinion and trolling. The latter is not constructive to the conversation and generally has a negative tone intended only to create an argument or distract from the core issue. Figure out a more constructive way to express your opinion, and you’ll get a lot more support for it.</p></li>
					<li><p><span>Don’t Lie, Deceit, Cheat, Whine</span> – Stick to the facts, when you register and when you post. Be part of the solution not the problem.</li>
					<li><p><span>Don’t Write in all Caps</span> - Let’s leave this terrible habit in history where it belongs.</p></li>
					<li><p><span>Don’t Ask for Votes</span> – At least in the petition or micropetition itself. Otherwise, we definitely encourage you to share the word on your social networks.</li>
					<li><p><span>Don’t Hesitate to Tell us About Security Issues, Bugs, etc.</span> – If you come across a problem with our security or technology in general, just let us know so we can try to do something about it. As long as it’s right for our users, our customers, and, of course, for democracy and civic engagement, we’ll probably do it if we have the budget. We’re not VC-backed, so if we don’t have the budget, we may even welcome the technical help!</p></li>
					<li><p><span>Don’t Forget we’re in Beta</span> – This is an experiment and a work in progress. Be patient with us as we grow and improve</span> – we’ll do what we can to incorporate your ideas. Feel free to join the “Powerline Powerusers” group to help shape the platform.</p></li>
					<li><p><span>Reddit</span> – Their community guidelines helped to inspire ours, so take a look. Some things may make more sense to post over with those good folks than it does here – that’s okay, we won’t take offense!</p></li>
				</ul>
        </section>
        <br><br>
    </article>
</section>
<footer ng-include=" 'views/footer.html' "></footer>