<header ng-include=" 'views/header.html' "></header>


	<div class="contain main-content clear">

				<h1>COPYRIGHT POLICY</h1>
						
				<section class="contain">	
					
				    <p>
				      If you believe in good faith that any material posted on our Website or App infringes the copyright in your work, please contact our copyright agent, designated under the Digital Millennium Copyright Act (“DMCA”) (17 U.S.C. §512(c)(3)), with correspondence containing the following:
				    </p>

				    <ul>
				      <li><p> A physical or electronic signature of the owner, or a person authorized to act on behalf of the owner, of the copyright that is allegedly infringed; </p></li>
				      
						<li><p>
				        Identification of the copyrighted work claimed to have been infringed;
				      </p></li>
				      
						<li><p>
				        Identification, with information reasonably sufficient to allow its location of the material that is

				        claimed to be infringing;
				      </p></li>
				      
						<li><p>
				        Information reasonably sufficient to permit us to contact you;
				      </p></li>
				      
						<li><p>
				        A statement that you have a good faith belief that use of the material in the manner complained

				        of is not authorized by the copyright owner, its agent, or the law; and,
				      </p></li>
				      
				
						<li><p>
				        A statement that the information in the notification is accurate, and under penalty of perjury, thatyou are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
				      </p></li>
				    </ul>

				    <p>You acknowledge that if you fail to comply with all of the requirements of this policy, your DMCA noticemay not be valid. For any questions regarding this procedure, or to submit a complaint, please contactour designated DMCA Copyright Agent:
				    </p>

				    <h3>Copyright Agent</h3>
				    <p>
				      American Civix Technologies L3C <br>
				      Hoboken, NJ 07030 <br>
				      e-mail: Legal@powerli.ne
				    </p>

				    <h3>COMPLAINT POLICY (INCLUDING TRADEMARK AND PRIVACY)</h3>

				    <p>If you believe in good faith that any material posted on the Website of App infringes any of your rights other than in copyright, or is otherwise unlawful, you must send a notice to legal@powerli.ne, containing the following information:
				    </p>

				    <ul>
				      
						<li>
							<p>Your name, physical address, e-mail address and phone number;</p>
						</li>
				      
				
						<li>
							<p> A description of the material posted on the Site that you believe violates your rights or isotherwise unlawful, and which parts of said materials you believe should be remedied orremoved;
				      		</p>
						</li>
				      
				
						<li>
							
							<p>Identification of the location of the material on the Site;	</p>
				
						</li>
				      
						<li>
							
							<p>If you believe that the material violates your rights, a statement as to the basis of the rights thatyou claim are violated;</p>
				
						</li>
				      
						<li>
							<p>If you believe that the material is unlawful or violates the rights of others, a statement as to the
basis of this belief;
				      		</p>
						</li>
				      
						<li>
							<p> A statement under penalty of perjury that you have a good faith belief that use of the material in the manner complained of is not authorized and that the information you are providing is accurate to the best of your knowledge and in good faith; and,</p>
						</li>
				      
						<li>
							<p>Your physical or electronic signature.</p>
						</li>
				    
					</ul>

				    <p>
				      If we receive a message that complies with all of these requirements, we will evaluate the submission, and if appropriate, in our sole discretion, we will take action. We may disclose your submission to the poster of the claimed violative material, or any other party.
				    </p>
					
					
				</section>
				
				
			</div><!-- Contain-->


<footer ng-include=" 'views/footer.html' "></footer>