<header ng-include=" 'views/header.html' "></header>

<div class="contain main-content clear">

			<h1>PRIVACY POLICY</h1>
					
			<section class="contain">

				<h3>Your Privacy Rights</h3>
				
				<h4>Effective Date: 2/11/2014</h4>
	
				<p>This Privacy Policy describes the types of information American Civix Technologies L3C d/b/a Powerline (hereinafter “Powerline,” “we” or “us”) gathers, how we use it, with whom the information may be shared, what choices are available to you regarding collection, use and distribution of information and our efforts to protect the information you provide to us through our website at Powerli.ne (the “Website”) and through our mobile application known as “Powerline” (the “App”). By using the Website or the App, and the functionality, data, information, updates, and similar materials delivered or provided through or by the Website or the App (the “Service”), you hereby consent to allow us to process information in accordance with this Policy. Please also refer to our [Terms of Use], which are incorporated as if fully recited herein.</p>
	
				<p>If our information retention or usage practices change, we will let you know by posting the Privacy Policy changes on the Website or through the App. Please refer to the “Effective Date” above to see when this Policy was last updated.</p>
				
				<h4>Territoriality</h4>
				<p> Regardless of where our servers are located, your personal data will be processed by us in the United States, where data protection and privacy regulations may or may not be to the same level of protection as in other parts of the world. BY VISITING THIS WEBSITE OR USING THE APP, YOU UNEQUIVOCALLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH VOLUNTARY SUBMISSIONS, AND YOU ALSO AGREE THAT U.S. LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.</p>
				
				<h4>Information Collected</h4> 
				<p>We collect two types of information about persons who use the Website, App or Service: voluntarily provided personal information and automatically collected information. In collecting information, Website, App or Service may utilize web beacons, pixel tags, cookies, third-party cookies, embedded links, and other commonly used information-gathering tools. Although you may turn off the collection of cookies through your browser options, it may hamper your user experience or limit your ability to use the Service.</p>
				
				
				<h4>Personal Information Collected</h4>
				<p> Powerline collects certain Personal Information about you, which may be supplied when you sign-up for the Website, App or Service, when you complete a survey, when you sign a petition or support a cause, when you create or update an account, when you join a group, when you request services or otherwise when you submit it or use the Website, App or Service.</p> 
				
			<p>The information that may be collected includes:</p>
	
			<ul>
				<li>Name;</li>
				<li>Address;</li>
				<li>Phone number;</li>
				<li>Username;</li>
				<li>Device identifier;</li>
				<li>Social media credentials and information;</li>
				<li>Email;</li>
			</ul>
			
			<p>Although Powerline or the Website, App or Service owner may ask for your credit card or banking information to process donations or payments, Powerline uses a third-party processing service to handle these transactions, and Powerline does not process or retain this information. Similarly, although the Website, App or Service may ask for the last four digits of your social security number, this information is collected by a third-party processing service to verify identity, and is not collected, process or retained by Powerline.</p>
	
			<p>The Website, App or Service may use location-based technologies on your device to identify your location. As detailed below, this information is collected for a variety of purposes. The Website, App or Service may collect this information in the background, even when the Website, App or Service is not actively being used.</p>
	
			<p>At your direction, the Website, App or Service may access your camera roll, images, contact book or other data on your device. </p>
	
			<p>In addition, although not collected through the Website, App or Service, Powerline may collect publicly available information about you, such as through the public national voter file, and Poweline may associate this information with its records about you.</p>
	
			<p>Powerline may also collect information about how you use the Website, App or Service, such as what causes you create, support or view.</p>
	
			<h4>Non-Personal Information</h4>
			<p> Non-Personal Information is non-personally identifiable or anonymous information about you, such as age, gender, types of products purchased, usage history, the type of device you used and its operating system, the pages accessed most frequently, how pages are used, applications downloaded, or search terms entered. Automatically Tracking Internet Protocol (IP) addresses is one method of automatically collecting information about your activities online and information volunteered by you. An IP address is a number that is automatically assigned to your device whenever you surf the Internet. </p>
	
		<h3>Use of Information</h3>
	
		<h4>Internal Use of Information by Powerline</h4> 
		<p>We accept and gather certain types of information in an effort to provide the Website, App and Service to you. We may also use this information help us develop and improve or our Service, fulfill your requests, send materials to you, inform you about our offers, tailor our Service to meet your interests, and for other purposes permitted by law. </p>
	
		<p>We may use location-based information collected about you for various internal purposes, including alerting you to causes proximate to your location that you may wish to support or lean about.</p>
	
	
		<h4>Sharing Information Collected with Third Parties, Consultants, and Affiliates </h4>
		<p>We may share collected  information with our business associates, consultants, service providers, advisors and affiliates in order for them to provide services to us, to you and to Website, App or Service. </p>
	
		<p>The information we collect may also be shared with people or Groups you follow on the Website, App or Service, known as “Leaders”, and with the Leaders of causes or Groups you support or identify for such sharing. </p>
	
		<p>We may populate your user profile on the Service with information you supply to us or that you share with us through signing-up for the Service through a social media account (e.g., Facebook, Twitter, Google+). Some of this information may be made publicly available through your profile. You may edit which of such information is publicly associated with your user profile. </p>
	
		<p>We may share or sell information we collect in a reasonably anonymized way (excluding name, address and phone number) for analytical purposes, such as statistical studies, for commercial or non-commercial research, such as market or campaign studies, as well as for the general promotion of Powerline.</p>
	
		<p>Our Service may use Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses cookies, to help us analyze how users use the Service. You may be able to opt-out of Google’s collection. Please visit Google’s Ads Preferences Manager or the Google Analytics opt-out browser add-on for more information. As noted, disabling cookies may impact your user experience.</p>
	
		<p>Further, we may disclose collected information to the extent we believe it necessary to comply with the law, such as in response to a subpoena or court order, to defend a legal claim or otherwise as permitted by applicable law. Additionally, we may transfer your information to successor in interest, which may include but may not be limited to a third-party in the event of an acquisition, sale, merger or bankruptcy.</p>
		
		<h4>Sharing By Users</h4>
		<p>The Website, App or Service may make it possible for you to share certain information about your use of the Website, App or Service on the Service itself or through social media services, such as Facebook, Twitter or Google+. The Website, App or Service will not share such information without an action initiated by you, such as uploading to your profile or otherwise sharing. You acknowledge that your voluntary sharing of certain information regarding your use of the Website, App or Service will make such information public.</p>
	
		<p>Similarly, if you sign a petition or cause that is designated as public, your activity relating to such petition or cause will be made public.</p>
	
		<h4>Links</h4>
		<p>Our Website, App or Service may contain links to other websites or may otherwise navigate you outside our Website, App or Service. We are not responsible for the privacy practices of such other sites, apps or other locations. When you leave our Website, App or Service, please read the privacy statements of your destination. This Privacy Policy applies solely to information collected by our Website, App or Service. </p>
	
		<h4>Security</h4>
		<p> Protecting your information is a priority for us, and therefore we employ procedural and technical safeguards to secure your personal information against loss, theft, alteration, and unauthorized access, use and disclosure. We also employ security procedures to protect your information from unauthorized access by users inside and outside the company.</p>
	
		<p>Regardless of the precautions taken by Powerline, no transmission of data over the Internet is guaranteed to be completely secure. It may be possible for third parties not under our control to intercept or access transmissions or private communications unlawfully. While we strive to protect personal information, we cannot ensure or warrant the security of any information you transmit to us. </p>
	
		<p>Access and Control Some of the information collected about you will be retrievable and changeable through your username login. To do so, either follow instructions on Website, App or Service, or send us an email at legal@powerli.ne. </p> 
	
	
		<h4>Children and Privacy </h4>
		<p>We do not knowingly permit users if they are under 13 years old, and therefore do not request personally identifiable information from anyone under the age of 13. If we become aware that a customer is under the age of 13 and has provided us with personal information without prior verifiable parental consent, we will remove his or her personally identifiable registration information and/or the user account from our files. If you are the parent or guardian of a person under the age of 13 who has provided personally identifiable information to us without your approval, please inform us by contacting us at the e-mail address below. </p>
		
		
		<h4>California Privacy Rights</h4> 
		<p>California law allows California residents to request information regarding our disclosures in the prior calendar year, if any, of their personally identifiable information to third parties. To make such a request, please contact us at legal@powerli.ne with "Request for Privacy Information" in the subject line. Please include enough detail for us to locate your file; at a minimum, your name, email, and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted to an address other than the one posted in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.</p>
	
	
			<h4>Contact Information</h4> 
		<p>If you have any questions, comments, requests or suggestions regarding our Privacy Policy, please contact us via e-mail at legal@powerli.ne.</p>


</section>
</div>


<footer ng-include=" 'views/footer.html' "></footer>