<header ng-include=" 'views/header.html' "></header>


<div class="contain main-content clear">
	
            <h1>The Powerline Story</h1>

			<section class="contain content-text">

			<p>Powerline started in my parents’ kitchen when a Bruce Springsteen song inspired a debate with a friend on if the Internet actually strengthens democracy or if it just gives the illusion of one. Impressed by the Tea Party and Occupy Wall Street movements, we saw a need for purposeful community engagement technology that could provide both leaders and citizens with the tools for changing the world. After talking to over 300 people, we came to realize that any real sustainable solution must serve many kinds of leaders and communities, not just government.</p> 
				
				
			<p>After all, if leaders and communities can’t interact simply, effectively, and meaningfully, then how can we address the issues and causes that we care about most in our communities?
			</p>
			


			<p>With so much digital noise and so many disparate systems, we must be able to lead, organize, influence, and engage in easy, meaningful ways that can improve our communities. This requires multi-purpose technology that can enable both leader-led change and sustained organic movements.</p>
			
			<div class="pull-block">

				<p>We all must have the ability to change or influence the systems and communities we join or are born into. Otherwise, our democracy is just an illusion.</p>

			</div>

			<p>I’ve been in nearly two-dozen leadership positions ranging from student government president at the University of Maryland’s Smith School of Business to president of the board of a national hunger relief charity. Always passionate about serving communities, I know first-hand how difficult it is for leaders and citizens alike to break through the noise and interact. </p>

			<p>That’s why I started Powerline. We all must have the ability to change or influence the systems and communities we join or are born into. Otherwise, our democracy is just an illusion.</p>

			<p class="signature">-Jesse Chen, Founder</p>

			<p>PS. The song was “Land of Hope and Dreams” from Bruce’s Wrecking Ball&hellip; Great album!</p>
                
			</section>
</div>

<footer ng-include=" 'views/footer.html' "></footer>