<header ng-include=" 'views/header.html' "></header>


	<div class="contain main-content clear">

						
				<section class="contain">
					
					<h1>Public Accountability</h1>
					
					
							<h3>Transparency &amp; Accountability</h3>

							<p>We’re committed to being responsive and accountable to our users and our customers. That’s why two of our Board members are elected by our community. As an L3C hybrid organization, we are required by law to put our social mission first.</p>
							
								<!-- ><ul class="pull-block info-menu right sidebar">
									<li><a href="">Our Story</a></li>
									<li><a href="">Privacy Policy</a></li>
									<li><a href="">Terms &amp; Conditions</a></li>
									<li><a href="">Privacy Policy</a></li>
									<li><a href="">Copyright Notice</a></li>
									<li><a href="">Community Guidelines</a></li>

								</ul> -->
							
							<p>That doesn’t mean we won’t seek to make a profit, but we’ll always make sure the decisions we make 1) support our social mission first, 2) don’t hurt our social mission, and 3) keep Powerline accessible to the vast majority of our customers and users. 		

						
								<p>In being transparent with our processes and decision-making via our blog, we expect you to keep us accountable and raise issues in the Powerline Poweruser group. To learn more about our Shared Governance approach which includes our partners and staff, please click here. </p>

							<p>Please review our blog as we share major decisions and developments regarding the Powerline platform.</p> 

							<p>Interested? Please contact us!</p>
					
					</div>
					
				</section>
				
				
			</div><!-- Contain-->


<footer ng-include=" 'views/footer.html' "></footer>