<header ng-include=" 'views/header.html' "></header>


<div class="contain login main-content clear" ng-controller="loginController" >
	
	<section class="login-form">
	    
		<h3>Welcome to Powerline</h3>
		
		<p>Before we go any farther, let's log in.</p>
		
		<form name="loginForm" class="form-md margin-10 margin-b-20"  >
	        
			<p class="text-danger">{{ error }}</p>
	        
			<fieldset ng-show="!loading">
	            
				<label for="" class="text-field">
	                <input type="text" name="username" ng-model="username" placeholder="Username" />
	            </label>
	            
				<label class="text-field">
	                <input type="password" name="password" ng-model="password" placeholder="Password" />
	            
				</label>
	        </fieldset>
	        
			<button ng-show="!loggedin" class="btn btn-primary btn-block" ng-click="login()" ng-show="!loading">Log in</button>
	        
			<!--<button class="btn btn-fb margin-v-20" ng-show="!loading" ng-click="loginWithFacebook()">
				<i class="icon-fb"></i> Log in with Facebook
			</button> -->
			
			
	    </form>
	    
	
	
	<div class="loading loading-md"  ></div>
	    <p class="margin-0" ng-show="!loggedin">
	        <a href="#/forgot-password">Forgot Password?</a>
	    </p>
	</section>
	
	<a class="profile-link" href="#/user-profile" ng-show="loggedin">Visit My Profile</a>
	
	

</div>


<footer ng-include=" 'views/footer.html' "></footer>