<header ng-include=" 'views/header.html' "></header>


	<div class="contain main-content confirmation clear">
	
		<header id="content-head" class="clear"> <!-- Begin Page Header -->
			<h2>And&hellip; Done!</h2>
			<p>Way to go! A few quick reminders:</p>
		
		</header>
		
		<article style="text-align:center;">
			<ul id="confirm-list" class="clear">
				<li>
					<span class="icon-one-bubble"></span>
					<p>Make your <em>first post</em> now for your<br/> new group members to interact with.</p>
				</li>
				<li>
					<span class="icon-person-cycle"></span>
					<p>Make posts <em>actionable, valuable,<br/> engaging, and periodic</em> - no one<br/> wants to be spammed.</p>
				</li>
				<li>
					<span class="icon-bullhorn"></span>
					<p><em>Encourage members</em> to be active in<br/> their public communities too.</p>
				</li>
				<li>
					<span class="icon-handshake"></span>
					<p><em>Be open, honest, and real</em> - this<br/> builds trust and community and <br/>delivers better results.</p>
				</li>
				<li>
					<span class="icon-lightbulb"></span>
					<p>We always welcome your <em>feedback, ideas,<br/> and suggestions</em> - so reach out!</p>
				</li>
			</ul>
		</article>
		
		<footer class="premium-banner clear">
				<p>More  <a href="">Tips &amp; Tricks</a> in our <a href="">Help Center</a></p>
		</footer>
		
	</div><!-- Contain-->

	<nav class="foot-nav contain clear">
		<a class="nav-button next center" href="/selection.html">Done</a>
	</nav>
	
		
	
		<footer class="contain">
		
				<h5>Copyright 2014 Powerline. All Rights Reserved.</h5>
		
		</footer>