<header ng-include=" 'views/header.html' "></header>


		<ul id="process-block" class="clear contain">
				<li><a href="/group-membership.php">Membership Settings<br><span class="icon-record "></span></a></li>
				<li><a href="/group-settings.php">Group Settings<br><span class="icon-record"></span></a></li>
				<li><a href="/group-advanced.php">Advanced Settings<br><span class="icon-record active"></span></a></li>
		</ul>
			
		<div class="progress-bg"></div>
			
		<div class="contain main-content clear">
		
			<header id="content-head" class="clear"> <!-- Begin Page Header -->
				<h2>Advanced Settings</h2>
			</header>
						
			<form class="group-form group-settings">
				
				<article> <!-- POST BOOSTER BLOCK -->
					
					<h3>Post Booster</h3>
					<p>Make it easier or more difficult for a group member's popular post to be sent automatically to the entire group. </p>
					<input type="range" min="0" step="150" max="300" name="post_booster">
					<ul class="range-labels">
						<li>Easy</li>
						<li>Recommended</li>
						<li>Hard</li>
					</ul>
				</article>
			
				<article> <!-- POST EXPIRATION BLOCK -->
					<h3>Post Expiration</h3>
					<p>Change the ampunt of time that group members have to engage with your posts or posts from members.</p>
					<input type="range" min="0" step="150" max="300" name="post_booster">
					<ul class="range-labels">
						<li>Low</li>
						<li>Recommended</li>
						<li>High</li>
					</ul>
				</article>
				
				<article>	<!-- POST LIMITS BLOCK -->
					<h3>Post Limits</h3>
					<p>Limit or increase the number of posts that group members can make in any given month.</p>
					<input type="number" max="" value="5" min="1" name="post_limits">
				</article>
				
				
				<article id="permission-contain"> <!-- PERMISSIONS BLOCK -->
					<h3>Request Permissions</h3>
					
					<p>Ask permission from users to access their data when they join your group. As group manager, only you will be able to see this information in the membership directory.</p>
					
					<div>
						<label for="name_permission">Name</label>
						<input type="checkbox" name="name_permission" id="name_permission" >
					</div>
					
					<div>
						<label for="phone_permission">Phone</label>
						<input type="checkbox" name="phone_permission" id="phone_permission" >
					</div>
					
					<div>
						<label for="social_permission">Social Media Links</label>
						<input type="checkbox" name="social_permission" id="social_permission" >
					</div>
					<br/>
					
					<div>
						<label for="email_permission">Email</label>
						<input type="checkbox" name="email_permission" id="email_permission" >
					</div>
					
					<div>
						<label for="address_permission">Address</label>
						<input type="checkbox" name="address_permission" id="address_permission" >
					</div>
					
					<p class="details"><span class="icon-info"></span>Treat your members' data with respect for their privacy and don't ask for more information than you need. Check our privacy policy <a href="/privacy-policy.html">here</a>.</p>
					
				</article>
	
			</form>
	
			<footer class="premium-banner clear">
				<p class="details"><span class="icon-info"></span>As a premium user, you can change these settings at any time. <a href="">Upgrade Now</a></p>
			</footer>
			
			
		</div><!-- Contain-->
		
		<nav class="foot-nav contain clear">
				<a class="nav-button clear prev" href="/group-membership.html"><span>&ltrif;</span> Back To Group Settings </a>
				<a class="nav-button next" href="#/registration/group-confirmation">Finish</a>
		</nav>
		
	
		<footer class="contain">
		
				<h5>Copyright 2014 Powerline. All Rights Reserved.</h5>
		
		</footer>