<!-- <section class="block-secondary main-header">
    <div class="content-wrap">
        <div class="col-12-6">
            <a href="/" title="Powerline"><img src="img/powerlinelogo.png" alt="Powerline"/></a>
        </div>
        <div class="col-12-6">
            <a ng-href="{{ adminUrl }}" class="btn btn-primary btn-sm" target="_blank">Community Leader Login</a>
        </div>
    </div>
</section>
<nav class="main">
    <section class="content-wrap">
        <a href="#/about">About</a>
        <a href="#/contacts">Leaders & Groups</a>
        <a href="#/contacts">Media</a>
        <a href="#/contacts">Public Research</a>
        <a href="#/contacts">Support</a>
        <a href="#/contacts">Fine Print</a>
    </section>
</nav> -->

<header class="top-head clear">
	<div class="contain">
		<div class="logo">
		<a href="/"><img src="img/powerlinelogo.png"></a>
	</div>
		
		<nav id="top-menu" class="clear"> <!-- Top Nav -->
				<ul>
					<li>
						<a href="#/about" title="" >About</a>
					</li>
					<li>
						<a href="#/contacts" title="" >Leaders &amp; Groups</a>
					</li>
					<li>
						<a href="#/contact-us" title="" >Media</a>
					</li>
					<li>
						<a href="#/about/public-accountability" title="" >Public Research</a>
					</li>
					<li>
						<a href="#/contact-us" title="">Support</a>
					</li>
					<li>
						<a href="#/contact-us" title="">Contact Us</a>
					</li>
					<li>
						<a href="#/login" title="">Login <span class="icon-user"></span></a>
					</li>	
					
				</ul>
		</nav> <!-- End Top Nav -->
		
		<button ng-click="" class="head-menu-toggle">Menu <span class="ti-menu"></span></button>
		
		
	</div>
</header>

<aside id="sp-nav">
	
	<a class="head-menu-toggle">X</a>
	
	<ul class="clear">
		<li>
			<a href="#/about" title="" >About</a>
		</li>
		<li>
			<a href="#/contacts" title="" >Leaders &amp; Groups</a>
		</li>
		<li>
			<a href="#/contact-us" title="" >Media</a>
		</li>
		<li>
			<a href="#/about/public-accountability" title="" >Public Research</a>
		</li>
		<li>
			<a href="#/contact-us" title="">Support</a>
		</li>
		<li>
			<a href="#/contact-us" title="">Contact Us</a>
		</li>
		<li>
			<a href="#/admin-login" title="">Login <span class="icon-user"></span></a>
		</li>
		
	</ul>	
	
</aside>
