<header ng-include=" 'views/header.html' "></header>


	<div class="contain main-content clear">

				<h1>More Information</h1>
						
				<section class="contain">	
					

				    <h3>Best Practices</h3>
					<ul>
						<li><p>Use Powerline in any kind of community for democratic participation, shared or advisory decision-making, governance, direct grassroots organizing, or any case where it’s critical to break through the noise and reach every single one of your constituents and engage them in your community affairs.</p></li> 
						<li><p>Confirm how constituents expect the results of polls to be treated on an annual or semi-annual basis (e.g. binding vs loose guide)</p></li>
						<li><p>Reach out to your constituents only as often as you would if you were sending mass texts</p></li>
						<li><p>For large movements or organizations, we recommend using a steering committee or similar leadership team to run your group leadership account</p></li>
						<li><p>Use Powerline for democratic participation and true engagement. Continue to use e-mail and traditional social media (e.g. Facebook, Twitter, YouTube) for public relations –style engagement and public advertising. Use them together when appropriate.</p></li>
						<li><p>Always add video or pictures to your polls, petitions, and discussions whenever possible</p></li>
						<li><p>Give your users time to participate and then jump in the discussion to show that you’re listening</p></li>
						<li><p>Once you’ve gotten your members on Powerline, create a fundraising request that asks for no more than $5 and attach an incentive (e.g. entered into a contest, etc.). This will make it easier to fundraise from your users in the future since they won’t need to re-enter their credit card information the next time</p></li>
						<li><p>Treat your group’s username like you would with your Twitter account or YouTube channel’s name when it comes to advertising to your constituents</p></li>
						<li><p>Always remember that your posts as a leader come with a push notification alert </p></li>
						<li><p>Never, ever abuse the contact information you get access to, even if you pay for it – it’s a violation of our Terms of Service, and more importantly, it’s a violation of trust between you and your constituents.</p></li>
					</ul>
					
					
					<h3>Tricks</h3>
					<ul>
						<li><p>Group Profile Fields - Utilize Custom Profile Fields for your group to enable more advanced reports by asking your group members to fill in an addition 1-5 custom fields when they join your group. You can use these to limit who you send communications out to (e.g. only “Members”) or you can use them to help analyze your data in your reports later one (e.g. how many who answered A were “Donors”).</p></li>
						<li><p>Shared Announcements - Use the Announcement Alert feature to get information shared via Facebook, Twitter, or LinkedIn rapidly</p></li>
						<li><p>Group Invitations - Grow your group by using the e-mail invitation feature – new and existing Powerline users will get an alert to join your group as soon as they login.</p></li>
						<li><p>Group Public Petitions - Give a public petition a boost by sending it to your members first – they can support it with a tap of a finger and share it with their social networks easily right through Powerline.</p></li>
						<li><p>Tipping Point Control - Increase or decrease the tipping point for micropetitions in your group with settings. A higher tipping point prevents mildly-popular posts from being auto-shared with the rest of the community while a lower tipping point ensures everyone is on the same page. </p></li>
						<li><p>Alternate Use of Micropetitions - Micropetitions can be used as a private short messaging service for private groups. Users can even turn on “All Group Notifications” so they receive a </p></li>
						<li><p>Directed Poll Results - Share the results of a private group poll with your member’s specific elected leaders by choosing that option when creating a poll. It will appear in the elected leader’s feeds and the media will be able to see that your members sent feedback (anonymously) to them via the poll results.</p></li>
						<li><p>Group Membership Control - Use a passcode to limit who can join your group or you can approve/reject group join requests on a per-person basis </p></li>
						<li><p>Petition Group Invites - Invite those who signed a public petition to join your group (you can only do this once, so wait until you’ve got a good group</p></li>
						<li><p>Petition-based Fundraising – Send out a one-tap-to-donate request to every Powerline user who signs one of your petitions. </p></li>
					
					</ul>
					
				</section>
				
				
			</div><!-- Contain-->


<footer ng-include=" 'views/footer.html' "></footer>