<header ng-include=" 'views/header.html' "></header>


		<ul id="process-block" class="clear contain">
			<li>Registration<br><span class="icon-record"></span></li>
			<li>Tier Selection<br><span class="icon-record active"></span></li>
			<li>Payment<br><span class="icon-record"></span></li>
		</ul>
		
		<div class="progress-bg"></div>

		<div class="contain main-content clear">
		
			<article class="contain" ng-init="price = 1" >


					<header id="content-head" class="clear">
						<h2>Choose your package</h2>

						<p>Select the package that best suits your needs. You can cancel your subscription at any time.</p>

						<nav id="pricing-nav">
							<button ng-click="price = 1" class="month" ng-class="{active: price === 1}" >Monthly</button><button ng-click="price = 2" class="annual" ng-class="{ active: price === 2 }">Annual (Save up to 25%)</button>
						</nav>
					</header>

					<ul  id="accordion" class="column-fields clear"><!-- BEGIN PRICING LIST -->


							<li class="column"><!-- Product Level -->

								<div class="circle-price clear">
									<span class="top">Free</span> 
									<span>/ month</span>
								</div>

								<span class="icon-man"></span>

								<h3 class="column-title">Get Started</h3>

								<p>Core features for free for as long as you want</p>

								<span class="details">Audience: Unlimited</span>
								<span class="details">Size: Unlimited</span>

								<div class="accordion-content" ng-show="showDetails1">

									<h4>Included Features</h4>

									<ul class="features-list">

										<li>Push Polling</li>
									    <li>Push Petitions</li>
									    <li>Push Discussions</li>
									    <li>Push Announcements</li>
									    <li>Push Fundraisers</li>
									    <li>Push Crowdfunding</li>
									    <li>Push Events</li>
									    <li>Basic Analytics</li>
									    <li>Invites by E-mail</li>

									</ul>

									<h4>A La Carte</h4>

									<ul class="features-list">
								    	<li>Petition Lists</li>
								    	<li>Targeted Fundraising</li>
								    	<li>Targeted Petition Invites</li>
								    	<li>E-mail Verification</li>
									</ul>

									<a href="https://admin.powerli.ne/" type="button" class="select-btn">Select Package</a>	

								</div>
								<a  type="button" ng-click="showDetails1 = true" ng-hide="showDetails1"  class="accordion-toggle">More Details &blacktriangle;</a>
								<a  type="button" ng-click="showDetails1 = false" ng-hide="! showDetails1"  class="accordion-toggle">Less Details &blacktriangle;</a>

							</li><!-- End Product Level -->

							<li class="column h-light"><!-- Product Level -->

								<div class="circle-price clear">
									<span ng-show="price === 1" class="top price">$29</span>
									<span ng-show="price === 2" class="top price">$25</span>
									<span>/ month</span>
								</div>

								<span class="icon-men-suits"></span>

								<h3 class="column-title">Silver</h3>

									<p class="green"><img src="img/check.png">Most Popular</p>

									<p>Core features for free for as long as you want</p>

									<span class="details">Audience: Not Business</span>
									<span class="details">Size: Under 1000 users</span>

								<div class="accordion-content" ng-show="showDetails2">
									<h4>Included Features</h4>

									<ul class="features-list">

										<li>All Free Features + </li>
									    <li>Extended Member Profiles</li>
									    <li>Optional Fee to Join Group</li>
									    <li>Membership Controls</li>
									    <li>User Post Controls</li>
									    <li>Sub-Groups</li>

									</ul>

									<h4>Advanced Features</h4>

									<ul class="features-list">
										<li>Custom Thank Yous</li>
									    <li>Custom Group Invites</li>
									    <li>Advanced Alerts</li>
									    <li>Discounted a la carte</li>
									    <li>Increased Push Petitions</li>
									</ul>

									<a href="https://admin.powerli.ne/" type="button" class="select-btn">Select Package</a>	

								</div>

									<a  type="button" ng-click="showDetails2 = true" ng-hide="showDetails2"  class="accordion-toggle">More Details &blacktriangle;</a>
									<a  type="button" ng-click="showDetails2 = false" ng-hide="! showDetails2"  class="accordion-toggle">Less Details &blacktriangle;</a>

							</li><!-- End Product Level -->

							<li class="column"><!-- Product Level -->

								<div class="circle-price clear">
									<span ng-show="price === 1" class="top price">$49</span>
									<span ng-show="price === 2" class="top price ">$39</span>
									<span>/ month</span>
								</div>

								<span class="icon-monitor2"></span>

								<h3 class="column-title">Gold</h3>

									<p>Core features for free for as long as you want</p>

									<span class="details">Audience: Unlimited</span>
									<span class="details">Size: Under 5000 users</span>

								<div class="accordion-content" ng-show="showDetails3">
									<h4>Included Features</h4>

									<ul class="features-list">

										<li>All Silver Features + </li>
									    <li>Sub-groups </li>
									    <li>Profile-based Reports</li>
									    <li>Filters, Sort, & Pivots </li>
									    <li>Google Maps Reports </li>
									    <li>Word Clouds </li>
									    <li>More Charts & Graphs </li>


									</ul>

									<h4>Advanced Integration</h4>

									<ul class="features-list">
										<li>DropBox</li>
									    <li>Google Drive</li>
									    <li>Discounted a la carte </li>
									    <li>Increased Push Petitions </li>
									</ul>

									<a href="https://admin.powerli.ne/" type="button" class="select-btn">Select Package</a>	

								</div>
									<a  type="button" ng-click="showDetails3 = true" ng-hide="showDetails3"  class="accordion-toggle">More Details &blacktriangle;</a>
									<a  type="button" ng-click="showDetails3 = false" ng-hide="! showDetails3"  class="accordion-toggle">Less Details &blacktriangle;</a>

							</li><!-- End Product Level -->

							<li class="column five"><!-- Product Level -->

								<div class="circle-price clear">
									<span class="top price">Call us</span>
									<span class="top price hide">Call us</span>
									<span class="shrink">908.433.5678</span>
								</div>

								<span class="icon-computer-network"></span>

								<h3 class="column-title">Platinum</h3>

									<p>Core features for free for as long as you want</p>


									<span class="details">Audience: Not Business</span>
									<span class="details">Size: Unlimited</span>
								<div class="accordion-content" ng-show="showDetails4">
									<h4>Included Features</h4>

									<ul class="features-list">

										<li>All Gold Features + </li>
									    <li>National Voter File</li>
									    <li>Salesforce.com</li>
									    <li>Dropbox</li>
									    <li>Google Drive</li>


									</ul>

									<h4>Extra Features</h4>					
									<ul class="features-list">
										<li>Discounted a la carte</li>
									    <li>Increased Push Petitions </li>
									</ul>

									<a href="https://admin.powerli.ne/" type="button" class="select-btn">Select Package</a>	

								</div>

								<a  type="button" ng-click="showDetails4 = true" ng-hide="showDetails4"  class="accordion-toggle">More Details &blacktriangle;</a>
								<a  type="button" ng-click="showDetails4 = false" ng-hide="! showDetails4"  class="accordion-toggle">Less Details &blacktriangle;</a>


							</li><!-- End Product Level -->

							<li class="column six"><!-- Product Level -->

								<div class="circle-price clear">
									<span class="top">Call us<br></span>
									<span class="shrink">908.433.5678</span>
								</div>

								<span class="icon-globe"></span>

								<h3 class="column-title">Commercial</h3>

									<p>Core features for free for as long as you want</p>

									<span class="details">Audience: Business Only</span>
									<span class="details">Size: Unlimited</span>

								<div class="accordion-content" ng-show="showDetails5" >

									<h4>Included Features</h4>

									<ul class="features-list">
										<li>All Platinum Features +</li>
									    <li>Unlimited Sub-Groups</li>
									    <li>Behind Firewall Hosting</li>
									    <li>LDAP Integration</li>
									    <li>Complete Data Porting</li>
									</ul>

									<h4>A La Carte</h4>

									<ul class="features-list">
										<li>Discounted a la carte</li>
									    <li>Increased Push Petitions</li>
									</ul>

									<a href="https://admin.powerli.ne/" type="button" class="select-btn">Select Package</a>	

								</div>


									<a  type="button" ng-click="showDetails5 = true" ng-hide="showDetails5"  class="accordion-toggle">More Details &blacktriangle;</a>
									<a  type="button" ng-click="showDetails5 = false" ng-hide="! showDetails5"  class="accordion-toggle">Less Details &blacktriangle;</a>




							</li><!-- End Product Level -->


					</ul><!-- END PRICING LIST -->

					<footer class="bottom-info">
						<p>&ast; feature is limited in this package</p>
						<p>&Hat; we charge you low processing fee for each payment collected</p>
					</footer>


			</article>	

			
		</div><!-- Contain-->
		
		<nav class="foot-nav contain clear">
			
			<a class="nav-button clear prev" href="/index.html"><span>&ltrif;</span> Back To Registration </a>
			
			<a class="nav-button next" href="#/registration/group-payment">Proceed to Payment &rtrif;</a>
		</nav>
		
		<footer class="contain">
		
				<h5>Copyright 2014 Powerline. All Rights Reserved.</h5>
		
		</footer>
		
